TZ=Europe/Moscow

WEB_PORT=8080
DB_PORT=3306
ADMINER_PORT=8081

MYSQL_DATABASE=wordpress
MYSQL_USER=wordpress
MYSQL_PASSWORD=wordpress
MYSQL_ROOT_PASSWORD=root

PHP_MEMORY_LIMIT=1024M
PHP_UPLOAD_MAX_FILESIZE=1024M
PHP_POST_MAX_SIZE=1280M
PHP_MAX_EXECUTION_TIME=600
